.tmp/
Appendices/AppendixA.aux
Appendices/AppendixB.aux
CHANGES.txt
Chapters/Chapter1.aux
main-blx.bib
main.aux
main.bbl
main.blg
main.lof
main.log
main.lot
main.out
main.run.xml
main.synctex.gz
main.toc
main-cover.aux
sub-cover.aux
Chapters/Chapter0.aux
